/*foot*/
#foot .f_city{
    display: inline-block;
    width: 100%;
    height: 380px;
}
.f_city .safety{
    margin: 70px auto;
    width: 500px;
}
.f_city .safety span:nth-child(1){
    display: block;
    font-weight: bold;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.f_city .safety span b{
    color: #FB474F;
}
.f_city .safety span:nth-child(2){
    display: inline-block;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
}
.f_city .safety>ul{
    overflow: hidden;
    margin-top: 20px;
}
.f_city .safety>ul li{
    float: left;
    margin-left: 50px;
    font-size: 18px;
}
.f_city .safety>ul li img{
    padding-right: 10px;
    vertical-align: middle;
}
.f_city .cityWrap{
    margin: 0 80px;
}
.f_city .cityWrap p{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.f_city .cityWrap .allCity{
    display: inline-block;
    width: 1090px;
    font-size: 16px;
    line-height: 30px;
    margin-top: -18px;
    margin-left: 80px;
}
.f_city .cityWrap .allCity li{
    float: left;
    margin-left: 50px
}
.f_city .cityWrap .allCity li a{
    color: #a6a6a6;
}
.f_partner{
    width: 100%;
    background:#FBF8F8;
}
.f_partner p{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 80px;
}
.f_partner .partnerLogo{
    margin: 0 80px;
}
.f_partner .partnerLogo li{
    float: left;
    width: 120px;
    height: 60px;
    margin-left: 5px;
}
.f_partner .partnerLogo li img{
    width: 100px;
    height: 48px;
}
.f_partner .copy{
    font-size: 14px;
    color: #a6a6a6;
}